$primary-color: #000000;

$black: #000;
$white: #fff;
$green: #090;
$red: #bb0a30;
//The greys
$grey-05: #f2f2f2;
$grey-10: #e5e5e5;
$grey-15: #d9d9d9;
$grey-20: #ccc;
$grey-30: #b3b3b3;
$grey-40: #999;
$grey-50: #808080;
$grey-60: #666;
$grey-70: #4c4c4c;
$grey-80: #333;
$grey-90: #1a1a1a;
$grey-100: #e5e8e7;
$grey-105:#d5d9d8;
//The reds
$red-05: #c03;