@font-face {
    font-family: AudiTypeNormal;
    font-style: normal;
    font-weight: normal;
    src: url('/etc/designs/audi/js__libs/fonts/auditype-normal.woff') format('woff')
}

@font-face {
    font-family: AudiTypeExtendedNormal;
    font-style: normal;
    font-weight: normal;
    src: url('/etc/designs/audi/js__libs/fonts/auditype-extendednormal.woff') format('woff')
}

@font-face {
    font-family: AudiTypeBold;
    font-style: normal;
    font-weight: bold;
    src: url('/etc/designs/audi/js__libs/fonts/auditype-bold.woff') format('woff')
}

@font-face {
    font-family: AudiTypeExtendedBold;
    font-style: normal;
    font-weight: bold;
    src: url('/etc/designs/audi/js__libs/fonts/auditype-extendedbold.woff') format('woff')
}